<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Brands - ShopDr Admin</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

	
<div class="container-fluid">
	<div th:replace="navigation :: menu"></div>
	
		<div>
			<h2>Manage Brands</h2>
			<a th:href="@{/brands/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
		</div>
		
		<div th:replace="fragments :: search_form_and_message"></div>
		
		
		<div>
			<table class="table table-bordered table-strpied table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th>Brand ID</th>
						<th>Logo</th>
						<th>Brand Name</th>
						<th>Categories</th>
						<th></th>
					</tr>
				</thead>	
				<tbody>
					<tr th:each="brand : ${listBrands}">
						<td>[[${brand.id}]]</td>
						<td>
							<img th:src="@{${brand.logoPath}}" style="width: 100px" class="img-fluid" />
						</td>
						<td>[[${brand.name}]]</td>						
						<td>
							<th:block th:each="cat : ${brand.categories}">
								<span class="badge badge-secondary" th:text=${cat.name}></span>
							</th:block>
						</td>
						<td>
							<a class="fas fa-edit fa-2x icon-green" th:href="@{'/brands/edit/' + ${brand.id}}" title="Edit this brand"></a> 
							&nbsp;
								<a class="fas fa-trash fa-2x icon-red link-delete" th:brandId="${brand.id}" th:href="@{'/brands/delete/' + ${brand.id}}" title="Delete this brand"></a>
						</td>
					</tr>
				</tbody>		
			</table>
		</div>
		
		
		<div th:replace="fragments :: pagination('brands')"></div>

		<div th:replace="modal_fragments :: confirm_modal" />
		

		<div class="text-center">
			<p>ShopDr Control Panel - Copyright &copy; ShopDr</p>
		</div>
</div>
<script th:src="@{/js/common_list.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script type="text/javascript">
		moduleURL = "[[@{/brands}]]";
		
	$(document).ready(function() {
		$(".link-delete").on("click", function(e) {
			e.preventDefault();
			showDeleteConfirmModal($(this), 'brand');
		});
	});
	
</script>
</body>
</html>