<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Customers - ShopDr Admin</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
	<div th:replace="navigation :: menu"></div>
	<div>
		<h2>Manage Customers</h2>	
		
	</div>
		
	<div th:replace="fragments :: search_form_and_message"></div>
	
	
	
	
		<table class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					
					<th>E-mail</th>
					
					<th>City</th>
					
					<th >State</th>
					
					<th>Country</th>
					<th>Enabled</th>
					<th></th>
				</tr>								
			</thead>
			<tbody>
				<tr th:each="customer : ${listCustomers}">
					<td>[[${customer.id}]]</td>
					<td>[[${customer.firstName}]]</td>
					<td>[[${customer.lastName}]]</td>
					<td class="hideable-column">[[${customer.email}]]</td>
					<td class="hideable-column">[[${customer.city}]]</td>
					<td class="hideable-column">[[${customer.state}]]</td>
					<td>[[${customer.country.name}]]</td>
					<td>
						<a th:if="${customer.enabled == true}" class="fas fa-check-circle fa-2x icon-green" th:href="@{'/customers/' + ${customer.id} + '/enabled/false'}" title="Disable this customer"></a>
							<a th:if="${customer.enabled == false}" class="fas fa-times-circle fa-2x icon-red" th:href="@{'/customers/' + ${customer.id} + '/enabled/true'}" title="Enable this customer"></a>
					</td>
					<td>
						<a class="fas fa-file-alt fa-2x icon-green link-detail"
							th:href="@{'/customers/detail/' + ${customer.id}}"
							title="View details of this customer"
							></a>	
							&nbsp;				
								<a class="fas fa-edit fa-2x icon-green" th:href="@{'/customers/edit/' + ${customer.id}}" title="Edit this customer"></a> 
							&nbsp;
								<a class="fas fa-trash fa-2x icon-red link-delete" th:userId="${customer.id}" th:href="@{'/customers/delete/' + ${customer.id}}" title="Delete this customer"></a>				
					</td>					
				</tr>
			</tbody>
		</table>
	</div>
	
	
	<div th:replace="fragments :: pagination('customers')"></div>
	
	<div th:replace="modal_fragments :: confirm_modal" />
	
	<div class="modal fade" id="detailModal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
			</div>
		</div>
	</div>		
	
	
	
	<div class="text-center">
			<p>ShopDr Control Panel - Copyright &copy; ShopDr</p>
		</div>
	

<script th:src="@{/js/common_list.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script type="text/javascript">
	moduleURL = "[[@{/customers}]]";

	$(document).ready(function() {
		$(".link-delete").on("click", function(e) {
			e.preventDefault();
			showDeleteConfirmModal($(this), 'customer');
		});
		
		$(".link-detail").on("click", function(e) {
			e.preventDefault();
			linkDetailURL = $(this).attr("href");
			$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
		});	
	});
		
</script>
</body>
</html>